.navbar{
    background-color: var(--cdc, #ffffff);
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    height: 77px;
    width: 100vw;
    z-index: 1;
}

.navbarContent{
    /* border: 1px solid red; */
    align-items: center;
    box-sizing: border-box;
    margin: 0px 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}
.homeLinks + .rightDiv{
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    width: 1/3;
    /* border: 1px solid red; */
    height: 100%;
    align-items: center;
}

.iconImg{
    /* margin: 0px 0px 0px 5px; was ruining the profile icon in settings for user*/
    height: 34px;
}

#vertDivider{
    border: none;
    background-color: #262626;
    height: 30px;
    margin: auto 10px;
    width: 1px;
    flex-grow: 0;
}

.homeLinks{
    display: flex;
    justify-items: flex-start;
    /* flex-grow: 1; */
}

.leftyLinks{
    /* border: 1px dotted blue; */
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    height: 100%;
    font-family: 'Pacifico';
}


.leftyLinks *{
    text-decoration: none;
    color: black;
}

.iconImg:hover{
    cursor: pointer;
}

.appName{
    align-self: center;
    height: auto;
    margin-left: 5px;
    font-size: 18px;
    display: flex;
    text-justify: center;
}

.appName p:hover{
    cursor: pointer;
}

.rightDiv{
    padding: auto 5px;
}

.rightDiv *{
    margin: auto 8px;
    display: flex;
    justify-content: center;
}

.rightDiv *:hover{
    cursor: pointer;
}

.spriteDiv{
    margin: auto 30px;
    background-image: url('/assets/spritesheet.png');
    zoom: 0.5;
    background-repeat: none;
    width: 50px;
    height: 50px;
}

#add{
    background-position: 475px 150px;
}

#likes{
    background-position: 325px 200px;
}

#profile{
    background-position: 325px 100px;
}

#home{
    background-position: 345px 515px;
    margin-right: 0px;
    justify-self: center;
}

#homelink{
    display: flex;
}