.navbar{
    background-color: var(--cdc, #ffffff);
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    height: 77px;
    width: 100vw;
    z-index: 1;
}

.navbarContent{
    /* border: 1px solid red; */
    align-items: center;
    box-sizing: border-box;
    margin: 0px 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}
.navbarContent div{
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    width: 1/3;
    /* border: 1px solid red; */
    height: 100%;
    align-items: center;
}

.iconImg{
    margin: 0px 0px 0px 5px;
    height: 34px;
}

#vertDivider{
    border: none;
    background-color: #262626;
    height: 28px;
    margin: auto 10px;
    width: 1px;
    flex-grow: 0;
}

.homeLinks{
    display: flex;
    justify-items: flex-start;
    /* flex-grow: 1; */
}

.leftyLinks{
    /* border: 1px dotted blue; */
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    height: 100%;
    font-family: 'Pacifico';
}

.leftyLinks div{
    /* border: 1px dotted blue; */
    box-sizing: content-box;
}

.leftyLinks *{
    text-decoration: none;
    color: black;
}

.iconImg:hover{
    cursor: pointer;
}

.appName{
    height: auto;
    margin-left: 5px;
    font-size: 18px;
}

.appName p:hover{
    cursor: pointer;
}

.rightDiv{
    padding: auto 5px;
}

.rightDiv *{
    margin: auto 8px;
}

.rightDiv *:hover{
    cursor: pointer;
}