.postsIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.postContainer p{
    font-family: var(--sans-serif);
    line-height: 18px;
    font-weight: 200;
    font-size: 14px;
}
.postContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 616px;
    box-sizing: border-box;
    border: 1px solid #999999;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 25px;
}

.postPhoto{
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    /* min-height: 300px; */
}

.postPhoto img{
    max-width: 614px;
    height:auto;
}

.userPostHeader{
    display: flex;
    padding: 7px 5px;  
    align-items: center;
    height: 60px;
}

.actionIcons{
    padding: 5px 5px;
}

.postCaption p:first-child{
    margin: 0px 5px 0px 0px;
}
.postCaption{
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
}

.comments{
    padding: 5px 5px;
}
.colorBorder{
    margin: 5px 10px;
    background: linear-gradient(to bottom left, red, yellow);
    border-radius: 100%;
}

.profileImgMask{
    width: var(--profpicsize);
    height: var(--profpicsize);
    /* border: linear-gradient(bottom left, red, yellow) 2px solid;  putting gradient
    border on upper div, this div will serve as a mask*/ 
    border: 2px solid #ffffff;
    margin: 2px 2px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
}

#username{
    font-family: var(--sans-serif);
    font-size: 14px;
    line-height: 18px;
    font-weight: 1000;
}

.profileImgMask img{
/* https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio */
/* SO object-fit link super useful, may use in formatting posts */
    object-fit: cover;
    width: 100%;
    height: auto;

}