:root{
    --profpicsize: 50px;
}
.postsIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.postContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 616px;
    box-sizing: border-box;
    border: 1px solid #999999;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: 25px;
}

.postPhoto{
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    /* min-height: 300px; */
}

.postPhoto img{
    max-width: 614px;
    height:auto;
}

.userPostHeader{
    display: flex;
    padding: 5px 5px;  
    align-items: center;
    height: 60px;
}

.actionIcons{
    padding: 5px 5px;
}

.postCaption p:first-child{
    margin: 0px 5px 0px 0px;
}
.postCaption{
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
}

.comments{
    padding: 5px 5px;
}

.profileImgMask{
    margin: 5px 10px;
    width: var(--profpicsize);
    height: var(--profpicsize);
    border: red 2px solid;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
}

.profileImgMask img{
/* https://stackoverflow.com/questions/12991351/css-force-image-resize-and-keep-aspect-ratio */
/* SO object-fit link super useful, may use in formatting posts */
    object-fit: cover;
    width: 100%;
    height: auto;

}