.userInfo{
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 25px 25px;
}

.profileImg{
    max-width: 80px;
    max-height: 80px;
    border: 3px solid #999;
    border-radius: 12px; 
    overflow: hidden;
}

.profileImg img{
    height: 80px;
    /* https://stackoverflow.com/questions/37127855/force-an-image-to-always-stay-at-the-middle-of-a-div useful trick to force image to center */
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.profileImg img:hover{
    cursor: auto;
}

.userText{
    padding: 20px 20px;
}

.userText h1{
    font-family: 'Pacifico';
    font-size: 30px;
}

.userText p{
    color: #999;
    font-family: var(--sans-serif);
    font-size: 14px;
}



.profileOption{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px 0px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.profileOption:hover{
    cursor: pointer;
}

